<h1>User info</h1>
<div>
  <%= image_tag 'default_image.jpg' %>
</div>
<p>name <%= @user.name %></p>
<p>introduction <%= @user.introduction %></p>
<% if @user == current_user %>
  <%= link_to "user編集", edit_user_path(@user) %>
<% else %>
  <%= link_to "user編集", user_path(current_user.id) %>
<% end %>

<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :opinion %>

  <%= f.submit 'Create Book' %>
<% end %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag 'default_image.jpg' %></td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
          </td>
        <td><%= book.opinion %></td>
      </tr>
    <% end %>
  </tbody>
</table>