<%= render 'users/user_info', user: @user %>

<h1>New book</h1>
<%= form_with model: @newbook do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :opinion %>

  <%= f.submit 'Create Book' %>
<% end %>

<h1>Book detail</h1>
<p><%= image_tag @user.get_profile_image(100,100) %></p>
<p>
  <%= link_to user_path(@book.user_id) do %>
  <%= @user.name %>
  <% end %>
</p>
<p><%= @book.title %></p>
<p><%= @book.opinion %></p>
<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book)  %>
  <%= link_to "Destroy", book_path(@book), method: :delete %>
<% end %>